<h1>angular-modal-gallery official systemjs demo</h1>
<hr>
<p>If you want, you can <b>add a random image</b> to every example
  <button (click)="addRandomImage()"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;Add image</button>
</p>
<p>To open modal gallery with id <input type="number" min="1" max="49" [(ngModel)]="galleryId"> at index <input type="number" min="1" [(ngModel)]="imageIndex">, click here:
  <button (click)="openModalViaService(galleryId, imageIndex - 1)"><i class="fas fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;Open id={{galleryId}} at index={{imageIndex}}</button>
</p>
<p><i>You cannot use all indexes above for every ids, because some galleries in this page have different number of images!</i></p>
<br>
<hr>

<h2>Layout examples</h2>
<section>
  <h3>Z1 - (id=1) - row plain gallery layout (limit 2) and custom size</h3>
  <br>
  <ks-modal-gallery [id]="1" [modalImages]="images"
                    [plainGalleryConfig]="plainGalleryRow"></ks-modal-gallery>
</section>
<section>
  <h3>Z1bis - (id=2) - row plain gallery layout space around (limit 2)</h3>
  <br>
  <ks-modal-gallery [id]="2" [modalImages]="images"
                    [plainGalleryConfig]="plainGalleryRowSpaceAround"></ks-modal-gallery>
</section>
<section>
  <h3>Z1tris - (id=3) - row plain gallery layout with a tags and custom rectangular sizes (limit 4)</h3>
  <br>
  <ks-modal-gallery [id]="3" [modalImages]="imagesRect"
                    [plainGalleryConfig]="plainGalleryRowATags"></ks-modal-gallery>
</section>
<section>
  <h3>Z2 - (id=4) - column plain gallery layout (limit 3)</h3>
  <br>
  <ks-modal-gallery [id]="4" [modalImages]="images"
                    [plainGalleryConfig]="plainGalleryColumn"></ks-modal-gallery>
</section>
<section>
  <h3>Z3 - (id=5) - grid plain gallery layout and custom size</h3>
  <br>
  <ks-modal-gallery [id]="5" [modalImages]="images"
                    [plainGalleryConfig]="plainGalleryGrid"></ks-modal-gallery>
</section>
<section>
  <h3>Z4 - (id=6) - full custom plain gallery (row) with image pointer</h3>
  <br>
  <div class="my-app-custom-plain-container-row">
    <ng-container *ngFor="let img of images; let i = index">
      <div *ngIf="i <= 2"> <!-- 2 is a fixed value that I'm using to display only two images -->
        <a class="more" *ngIf="i==2" (click)="openImageModalRow(img)"> +{{images.length - 2 - 1}} more </a>
        <img *ngIf="img.plain && img.plain.img; else noThumb"
             class="my-app-custom-image-row"
             [src]="img.plain.img"
             (click)="openImageModalRow(img)"
             [alt]="img.modal.description"/>

        <ng-template #noThumb>
          <img class="my-app-custom-image-row"
               [src]="img.modal.img"
               (click)="openImageModalRow(img)"
               [alt]="img.modal.description"/>
        </ng-template>
      </div>
    </ng-container>
  </div>
  <ks-modal-gallery [id]="6" [modalImages]="images"
                    [plainGalleryConfig]="customPlainGalleryRowConfig"></ks-modal-gallery>
</section>
<section>
  <h3>Z5 - (id=7) - full custom plain gallery (column) with image pointer</h3>
  <br>
  <div class="my-app-custom-plain-container-column">
    <ng-container *ngFor="let img of images; let i = index">
      <div *ngIf="i <= 2"> <!-- 2 is a fixed value that I'm using to display only two images -->
        <a class="more" *ngIf="i==2" (click)="openImageModalColumn(img)"> +{{images.length - 2 - 1}} more </a>
        <img *ngIf="img.plain && img.plain.img; else noThumb"
             class="my-app-custom-image-column"
             [src]="img.plain.img"
             (click)="openImageModalColumn(img)"
             [alt]="img.modal.description"/>

        <ng-template #noThumb>
          <img class="my-app-custom-image-column"
               [src]="img.modal.img"
               (click)="openImageModalColumn(img)"
               [alt]="img.modal.description"/>
        </ng-template>
      </div>
    </ng-container>
  </div>
  <ks-modal-gallery [id]="7" [modalImages]="images"
                    [plainGalleryConfig]="customPlainGalleryColumnConfig"></ks-modal-gallery>
</section>
<section>
  <h3>Z6 - (id=8) - full custom plain gallery (row) with descriptions</h3>
  <br>
  <div class="my-app-custom-plain-container-with-desc">
    <ng-container *ngFor="let img of imagesRect">
      <figure class="my-app-custom-image-with-desc">
        <img [src]="img.modal.img"
             (click)="openImageModalRowDescription(img)"/>
        <figcaption class="description">{{img.modal.description ? img.modal.description : 'No description available'}}
        </figcaption>
      </figure>
    </ng-container>
  </div>
  <ks-modal-gallery [id]="8" [modalImages]="imagesRect"
                    [plainGalleryConfig]="customPlainGalleryRowDescConfig"></ks-modal-gallery>
</section>
<br>
<hr>
<br>
<h2>Minimal examples</h2>
<section>
  <h3>A1 - (id=9) - Minimal demo - all defaults</h3>
  <br>
  <ks-modal-gallery [id]="9" [modalImages]="images"></ks-modal-gallery>
</section>
<section>
  <h3>A1bis - (id=10) - Minimal demo - all defaults with rect images</h3>
  <br>
  <ks-modal-gallery [id]="10" [modalImages]="imagesRect"></ks-modal-gallery>
</section>
<section>
  <h3>A1tris - (id=11) - Minimal demo - all defaults with images of different sizes</h3>
  <br>
  <ks-modal-gallery [id]="11" [modalImages]="imagesMixedSizes"></ks-modal-gallery>
</section>
<section>
  <h3>A2 - (id=12) - Minimal demo - listen for events</h3>
  <br>
  <ks-modal-gallery [id]="12" [modalImages]="images"
                    (hasData)="onImageLoaded($event)"
                    (close)="onCloseImageModal($event)"
                    (show)="onVisibleIndex($event)"
                    (firstImage)="onIsFirstImage($event)"
                    (lastImage)="onIsLastImage($event)"
                    (buttonBeforeHook)="onButtonBeforeHook($event)"
                    (buttonAfterHook)="onButtonAfterHook($event)"></ks-modal-gallery>
</section>
<section>
  <h3>A3 - (id=13) - Minimal demo - single image</h3>
  <br>
  <ks-modal-gallery [id]="13" [modalImages]="singleImage"></ks-modal-gallery>
</section>
<br>
<hr>
<br>
<h2>Simple examples</h2>
<section>
  <h3>B1 - (id=14) - Simple demo - only current image and buttons (previews and dots are hidden)</h3>
  <br>
  <ks-modal-gallery [id]="14" [modalImages]="images"
                    [previewConfig]="{visible: false}"
                    [dotsConfig]="{visible: false}"></ks-modal-gallery>
</section>
<section>
  <h3>B2 - (id=15) - Simple demo - only current image (buttons, previews and dots are hidden)</h3>
  <br>
  <ks-modal-gallery [id]="15" [modalImages]="images"
                    [buttonsConfig]="{visible: false, strategy: 1}"
                    [previewConfig]="{visible: false}"
                    [dotsConfig]="{visible: false}"></ks-modal-gallery>
</section>
<section>
  <h3>B3 - (id=16) - Simple demo - only current image (side previews, buttons, previews and dots are hidden)</h3>
  <br>
  <ks-modal-gallery [id]="16" [modalImages]="images"
                    [slideConfig]="{infinite: false, sidePreviews: {show: false}}"
                    [buttonsConfig]="{visible: false, strategy: 1}"
                    [previewConfig]="{visible: false}"
                    [dotsConfig]="{visible: false}"></ks-modal-gallery>
</section>
<section>
  <h3>B3bis - (id=17) - Simple demo - custom preview size</h3>
  <br>
  <ks-modal-gallery [id]="17" [modalImages]="images"
                    [previewConfig]="{visible: true, size: {width: '90px', height: 'auto'}}"></ks-modal-gallery>
</section>
<section>
  <h3>B4 - (id=18) - Simple demo - disable closeOutside</h3>
  <br>
  <ks-modal-gallery [id]="18" [modalImages]="images"
                    [enableCloseOutside]="false"></ks-modal-gallery>
</section>
<section>
  <h3>B5 - (id=19) - Simple demo - no downloadable at all</h3>
  <br>
  <ks-modal-gallery [id]="19" [modalImages]="images"
                    [currentImageConfig]="{downloadable: false}"
                    [buttonsConfig]="buttonsConfigDefault"></ks-modal-gallery>
</section>
<section>
  <h3>B6 - (id=20) - Simple demo - no download button (only with keyboard)</h3>
  <br>
  <ks-modal-gallery [id]="20" [modalImages]="images"
                    [currentImageConfig]="{downloadable: true}"
                    [buttonsConfig]="buttonsConfigDefault"></ks-modal-gallery>
</section>
<section>
  <h3>B7 - (id=21) - Simple demo - download with both button and keyboard</h3>
  <br>
  <ks-modal-gallery [id]="21" [modalImages]="images"
                    [currentImageConfig]="{downloadable: true}"
                    [buttonsConfig]="buttonsConfigSimple"></ks-modal-gallery>
</section>
<section>
  <h3>B8 - (id=22) - Simple demo - infinite sliding but NO side previews</h3>
  <br>
  <ks-modal-gallery [id]="22" [modalImages]="images"
                    [slideConfig]="{infinite: true, sidePreviews: {show: false}}"></ks-modal-gallery>
</section>
<section>
  <h3>B9 - (id=23) - Simple demo - infinite sliding and side previews</h3>
  <br>
  <ks-modal-gallery [id]="23" [modalImages]="images"
                    [slideConfig]="{infinite: true, sidePreviews: {show: true, size: {width: '100px', height: 'auto'}}}"></ks-modal-gallery>
</section>
<section>
  <h3>B10 - (id=24) - Simple demo - disable loading spinner</h3>
  <br>
  <ks-modal-gallery [id]="24" [modalImages]="imagesForLoadingSpinner"
                    [currentImageConfig]="{loadingConfig: {enable: false, type: 1}}"></ks-modal-gallery>
</section>
<section>
  <h3>B11 - (id=25) - Simple demo - loading spinner of type Standard</h3>
  <br>
  <ks-modal-gallery [id]="25" [modalImages]="imagesForLoadingSpinner"
                    [currentImageConfig]="{loadingConfig: {enable: true, type: 1}}"></ks-modal-gallery>
</section>
<section>
  <h3>B12 - (id=26) - Simple demo - loading spinner of type Circular</h3>
  <br>
  <ks-modal-gallery [id]="26" [modalImages]="imagesForLoadingSpinner"
                    [currentImageConfig]="{loadingConfig: {enable: true, type: 2}}"></ks-modal-gallery>
</section>
<section>
  <h3>B13 - (id=27) - Simple demo - loading spinner of type Bars</h3>
  <br>
  <ks-modal-gallery [id]="27" [modalImages]="imagesForLoadingSpinner"
                    [currentImageConfig]="{loadingConfig: {enable: true, type: 3}}"></ks-modal-gallery>
</section>
<section>
  <h3>B14 - (id=28) - Simple demo - loading spinner of type Dots</h3>
  <br>
  <ks-modal-gallery [id]="28" [modalImages]="imagesForLoadingSpinner"
                    [currentImageConfig]="{loadingConfig: {enable: true, type: 4}}"></ks-modal-gallery>
</section>
<section>
  <h3>B15 - (id=29) - Simple demo - loading spinner of type Cube Flipping</h3>
  <br>
  <ks-modal-gallery [id]="29" [modalImages]="imagesForLoadingSpinner"
                    [currentImageConfig]="{loadingConfig: {enable: true, type: 5}}"></ks-modal-gallery>
</section>
<section>
  <h3>B16 - (id=30) - Simple demo - loading spinner of type Circles</h3>
  <br>
  <ks-modal-gallery [id]="30" [modalImages]="imagesForLoadingSpinner"
                    [currentImageConfig]="{loadingConfig: {enable: true, type: 6}}"></ks-modal-gallery>
</section>
<section>
  <h3>B17 - (id=31) - Simple demo - loading spinner of type Explosing Squares</h3>
  <br>
  <ks-modal-gallery [id]="31" [modalImages]="imagesForLoadingSpinner"
                    [currentImageConfig]="{loadingConfig: {enable: true, type: 7}}"></ks-modal-gallery>
</section>

<section>
  <h3>B18 - (id=32) - Simple demo - buttons config DEFAULT strategy (only close)</h3>
  <br>
  <ks-modal-gallery [id]="32" [modalImages]="images"
                    [buttonsConfig]="buttonsConfigDefault"></ks-modal-gallery>
</section>
<section>
  <h3>B19 - (id=33) - Simple demo - buttons config SIMPLE strategy (close and download)</h3>
  <br>
  <ks-modal-gallery [id]="33" [modalImages]="images"
                    [buttonsConfig]="buttonsConfigSimple"></ks-modal-gallery>
</section>
<section>
  <h3>B20 - (id=34) - Simple demo - buttons config ADVANCED strategy (close, download and exturl in the current
    tab)</h3>
  <br>
  <ks-modal-gallery [id]="34" [modalImages]="images"
                    [buttonsConfig]="buttonsConfigAdvanced"></ks-modal-gallery>
</section>
<section>
  <h3>B21 - (id=35) - Simple demo - buttons config FULL strategy (all buttons) + listen for buttonBeforeHook and
    buttonAfterHook (mandatory to handle delete events)</h3>
  <br>
  <ks-modal-gallery [id]="35" [modalImages]="images"
                    [buttonsConfig]="buttonsConfigFull"
                    (show)="onVisibleIndex($event)"
                    (buttonBeforeHook)="onButtonBeforeHook($event)"
                    (buttonAfterHook)="onButtonAfterHook($event)"></ks-modal-gallery>
</section>
<section>
  <h3>B22 - (id=36) - Simple demo - buttons config CUSTOM strategy with exturl in ANOTHER TAB ('_blank')</h3>
  <br>
  <ks-modal-gallery [id]="36" [modalImages]="images"
                    [currentImageConfig]="{downloadable: true}"
                    [buttonsConfig]="customButtonsConfigExtUrlNewTab"></ks-modal-gallery>
</section>
<section>
  <h3>B23 - (id=37) - Simple demo - buttons config CUSTOM strategy with <a href="https://fontawesome.com/">Font Awesome
    5</a></h3>
  <p><i>Be careful to use the id=37 also in the Component. This is necessary here, because I have many instances of
    angular-modal-gallery in a single page</i></p>
  <br>
  <ks-modal-gallery [id]="37" [modalImages]="images"
                    [currentImageConfig]="{downloadable: true}"
                    [buttonsConfig]="customButtonsFontAwesomeConfig"
                    (show)="onVisibleIndex($event)"
                    (buttonBeforeHook)="onCustomButtonBeforeHook($event, 37)"
                    (buttonAfterHook)="onCustomButtonAfterHook($event, 37)"></ks-modal-gallery>
</section>
<br>
<hr>
<br>
<h2>Advanced examples</h2>
<section>
  <h3>C1 - (id=38) - Advanced demo - custom keyboard ('up'/'down' arrows and 'q' to close)</h3>
  <br>
  <ks-modal-gallery [id]="38" [modalImages]="images"
                    [keyboardConfig]="{esc: 81, left: 40, right: 38}"></ks-modal-gallery>
</section>
<section>
  <h3>C2 - (id=39) - Advanced demo - custom description always visible</h3>
  <br>
  <ks-modal-gallery [id]="39" [modalImages]="images"
                    [currentImageConfig]="{description: customDescription}"></ks-modal-gallery>
</section>
<section>
  <h3>C3 - (id=40) - Advanced demo - custom description hide if empty</h3>
  <br>
  <ks-modal-gallery [id]="40" [modalImages]="images"
                    [currentImageConfig]="{description: customDescriptionHideIfEmpty}"></ks-modal-gallery>
</section>
<section>
  <h3>C4 - (id=41) - Advanced demo - custom description always hidden</h3>
  <br>
  <ks-modal-gallery [id]="41" [modalImages]="images"
                    [currentImageConfig]="{description: customFullDescriptionHidden}"></ks-modal-gallery>
</section>
<section>
  <h3>C5 - (id=42) - Advanced demo - custom FULL description always visible</h3>
  <br>
  <ks-modal-gallery [id]="42" [modalImages]="images"
                    [currentImageConfig]="{description: customFullDescription}"></ks-modal-gallery>
</section>
<section>
  <h3>C6 - (id=43) - Advanced demo - custom HTML description always visible</h3>
  <br>
  <ks-modal-gallery [id]="43" [modalImages]="imagesHtmlDescriptions"
                    [currentImageConfig]="{description: customDescription}"></ks-modal-gallery>
</section>
<section>
  <h3>C7 - (id=44) - Advanced demo - custom description style (always visible)</h3>
  <br>
  <ks-modal-gallery [id]="44" [modalImages]="images"
                    [currentImageConfig]="{description: customDescriptionStyle}"></ks-modal-gallery>
</section>

<section>
  <h3>C8 - (id=45) - Advanced demo - preview custom configuration with 1 image (clickable)</h3>
  <br>
  <ks-modal-gallery [id]="45" [modalImages]="images"
                    [previewConfig]="previewConfigOneImage"></ks-modal-gallery>
</section>
<section>
  <h3>C9 - (id=46) - Advanced demo - preview custom configuration without arrows (clickable)</h3>
  <br>
  <ks-modal-gallery [id]="46" [modalImages]="images"
                    [previewConfig]="previewConfigNoArrows"></ks-modal-gallery>
</section>
<section>
  <h3>C10 - (id=47) - Advanced demo - preview custom configuration not clickable</h3>
  <br>
  <ks-modal-gallery [id]="47" [modalImages]="images"
                    [previewConfig]="previewConfigNoClickable"></ks-modal-gallery>
</section>
<!--<section>-->
<!--<h3>C9 - Advanced demo - preview custom configuration always center <span-->
<!--style="color:red;">STILL NOT IMPLEMENTED</span></h3>-->
<!--<br>-->
<!--<ks-modal-gallery [modalImages]="images"-->
<!--[previewConfig]="previewConfigAlwaysCenter"></ks-modal-gallery>-->
<!--</section>-->
<section>
  <h3>C11 - (id=48) - Advanced demo - preview custom configuration with custom size</h3>
  <br>
  <ks-modal-gallery [id]="48" [modalImages]="images"
                    [previewConfig]="previewConfigCustomSize"></ks-modal-gallery>
</section>

<section>
  <h3>C12 - (id=49) - Advanced demo - accessibility config</h3>
  <br>
  <ks-modal-gallery [id]="49" [modalImages]="images"
                    [accessibilityConfig]="accessibilityConfig"></ks-modal-gallery>
</section>

<section>
  <h3>C13 - (id=50) - Advanced demo - disable clicks on current image in modal-image</h3>
  <br>
  <ks-modal-gallery [id]="50" [modalImages]="images" [currentImageConfig]="{navigateOnClick: false}"></ks-modal-gallery>
</section>

<br><br>
<h4>This library and this example are created by <a href="https://github.com/Ks89">Stefano Cappa (@Ks89)</a></h4>

<section>
  <h4>A special thank to all authors of icons used in this library:</h4>
  <ul>
    <li>Icons made by <a href="https://www.flaticon.com/authors/smartline" title="Smartline">Smartline</a> from <a
      href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a
      href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
    </li>
    <li>Icons made by <a href="https://www.flaticon.com/authors/dave-gandy" title="Dave Gandy">Dave Gandy</a> from <a
      href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a
      href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
    </li>
    <li>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a
      href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a
      href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
    </li>
    <li>Icons made by <a href="https://www.flaticon.com/authors/those-icons" title="Those Icons">Those Icons</a> from <a
      href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a
      href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
    </li>
    <li>Icons made by <a href="https://www.flaticon.com/authors/gregor-cresnar" title="Gregor Cresnar">Gregor
      Cresnar</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a
      href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
    </li>
  </ul>
</section>

<section>
  <h4>A special thanks to all authors of spinners used in this library:</h4>
  <ul>
    <li><a href="https://github.com/lukehaas">Luke Haas (@lukehaas)</a> - <a
      href="https://github.com/lukehaas/css-loaders">lukehaas/css-loaders</a></li>
    <li><a href="https://github.com/martinvd">Martin van Driel (@martinvd)</a> - <a
      href="https://codepen.io/martinvd/pen/xbQJom">martinvd example on codepen.io</a></li>
    <li><a href="https://devalchemist.com/">Devilish Alchemist</a> - <a
      href="https://codepen.io/devilishalchemist/pen/emOVYQ">devilishalchemist example on codepen.io</a></li>
    <li><a href="https://github.com/nikhil8krishnan">Nikhil Krishnan</a> - <a
      href="https://codepen.io/nikhil8krishnan/pen/dMEzGx">nikhil8krishnan example on codepen.io</a></li>
    <li><a href="https://codepen.io/WebSonata/">Anastasiya Kuligina</a> - <a
      href="https://codepen.io/WebSonata/pen/bRaONB">Anastasiya Kuligina example on codepen.io</a></li>
  </ul>
</section>
