<h2 class="red-text">Carousel</h2>

<p>If you want, you can <b>add a random image</b> to every example
  <button (click)="addRandomImage()"><i class="fas fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;Add image</button>
</p>
<hr>

<section>
  <h3>X1 - (id=1) - carousel example with limited width</h3>
  <p>Autoplay: <button class="btn btn-primary" (click)="onChangeAutoPlay()">{{autoPlay ? 'disable autoplay' : 'enable autoplay'}}</button></p>
  <p>Show Arrows: <button class="btn btn-primary" (click)="onChangeShowArrows()">{{showArrows ? 'Hide Arrows' : 'Show Arrows'}}</button></p>
  <br>
  <ks-carousel [id]="1" [images]="imagesRect"
               [carouselConfig]="{maxWidth: '766px', keyboardEnable: true, showArrows: showArrows}"
               [carouselPlay]="{autoPlay: autoPlay, interval: 3000, pauseOnHover: true}"
               [dotsConfig]="{visible: true}"
               [slideConfig]="{infinite: false}"
               [previewConfig]="{number: 5, size: {width: 'auto', height: '100px'}}">
    <div class="transcluded">This is my transcluded content!</div>
  </ks-carousel>
</section>
<br>
<section>
  <h3>X2 - (id=2) - carousel example with full (100%) width but not previews<sup>*</sup></h3>
  <p><span class="red-text"><sup>*</sup>ATTENTION: this example doesn't work on IE 11</span>, because it doesn't support css property 'object-fit' (for more info <a href="https://caniuse.com/#search=object-fit">check here</a>)</p>
  <p>Autoplay: <button class="btn btn-primary" (click)="onChangeAutoPlay()">{{autoPlay ? 'disable autoplay' : 'enable autoplay'}}</button></p>
  <p>Show Arrows: <button class="btn btn-primary" (click)="onChangeShowArrows()">{{showArrows ? 'Hide Arrows' : 'Show Arrows'}}</button></p>
  <br>
  <ks-carousel [id]="2" [images]="imagesRect"
               [carouselConfig]="{maxWidth: '100%', maxHeight: '400px', objectFit: 'cover', keyboardEnable: true, showArrows: showArrows}"
               [carouselPlay]="{autoPlay: autoPlay, interval: 3000, pauseOnHover: true}"
               [dotsConfig]="{visible: true}"
               [slideConfig]="{infinite: false}"
               [previewConfig]="{visible: false}">
    <div class="transcluded">This is my transcluded content!</div>
  </ks-carousel>
</section>
<br>
<section>
  <h3>X3 - (id=3) - carousel example with full (100%) width<sup>*</sup></h3>
  <p><span class="red-text"><sup>*</sup>ATTENTION: this example doesn't work on IE 11</span>, because it doesn't support css property 'object-fit' (for more info <a href="https://caniuse.com/#search=object-fit">check here</a>)</p>
  <p>Autoplay: <button class="btn btn-primary" (click)="onChangeAutoPlay()">{{autoPlay ? 'disable autoplay' : 'enable autoplay'}}</button></p>
  <p>Show Arrows: <button class="btn btn-primary" (click)="onChangeShowArrows()">{{showArrows ? 'Hide Arrows' : 'Show Arrows'}}</button></p>
  <br>
  <ks-carousel [id]="3" [images]="imagesRect"
               [carouselConfig]="{maxWidth: '100%', maxHeight: '300px', objectFit: 'cover', keyboardEnable: true, showArrows: showArrows}"
               [carouselPlay]="{autoPlay: autoPlay, interval: 3000, pauseOnHover: true}"
               [dotsConfig]="{visible: true}"
               [slideConfig]="{infinite: false}">
    <div class="transcluded">This is my transcluded content!</div>
  </ks-carousel>
</section>
<section>
  <h3>X4 - (id=4) - carousel example with limited width and infinite sliding</h3>
  <p>Autoplay: <button class="btn btn-primary" (click)="onChangeAutoPlay()">{{autoPlay ? 'disable autoplay' : 'enable autoplay'}}</button></p>
  <p>Show Arrows: <button class="btn btn-primary" (click)="onChangeShowArrows()">{{showArrows ? 'Hide Arrows' : 'Show Arrows'}}</button></p>
  <br>
  <ks-carousel [id]="4" [images]="imagesRect"
               [carouselConfig]="{maxWidth: '766px', keyboardEnable: true, showArrows: showArrows}"
               [carouselPlay]="{autoPlay: autoPlay, interval: 3000, pauseOnHover: true}"
               [dotsConfig]="{visible: true}"
               [slideConfig]="{infinite: true}"
               [previewConfig]="{number: 5, size: {width: 'auto', height: '100px'}}">
    <div class="transcluded">This is my transcluded content!</div>
  </ks-carousel>
</section>
<br>
<section>
  <h3>X5 - (id=5) - carousel example with limited width and open modal on click</h3>
  <p>Autoplay: <button class="btn btn-primary" (click)="onChangeAutoPlay()">{{autoPlay ? 'disable autoplay' : 'enable autoplay'}}</button></p>
  <p>Show Arrows: <button class="btn btn-primary" (click)="onChangeShowArrows()">{{showArrows ? 'Hide Arrows' : 'Show Arrows'}}</button></p>
  <br>
  <ks-carousel [id]="5" [images]="imagesRect"
               [carouselConfig]="{maxWidth: '766px', keyboardEnable: true, showArrows: showArrows, modalGalleryEnable: true}"
               [carouselPlay]="{autoPlay: autoPlay, interval: 3000, pauseOnHover: true}"
               [dotsConfig]="{visible: true}"
               [slideConfig]="{infinite: false}"
               [previewConfig]="{number: 5, size: {width: 'auto', height: '100px'}}">
    <div class="transcluded">This is my transcluded content!</div>
  </ks-carousel>
</section>
<br>
