<h2 class="red-text">Carousel</h2>

<p>If you want, you can <b>add a random image</b> to every example
  <button (click)="addRandomImage()"><i class="fas fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;Add image</button>
</p>
<hr>

<section>
  <h3>X1 - carousel example with limited width</h3>
  <p>Autoplay: <button class="btn btn-primary" (click)="onChangeAutoPlay()">{{autoPlay ? 'disable autoplay' : 'enable autoplay'}}</button></p>
  <p>Show Arrows: <button class="btn btn-primary" (click)="onChangeShowArrows()">{{showArrows ? 'Hide Arrows' : 'Show Arrows'}}</button></p>
  <br>
  <ks-carousel [images]="imagesRect"
               [isShowArrows]="showArrows"
               [pauseOnHover]="true"
               [keyboardNavigation]="true"
               [dotsConfig]="{visible: true}"
               [slideConfig]="{infinite: false}"
               [autoPlay]="autoPlay"
               [maxWidth]="'766px'"
               [interval]="3000">
    <div class="transcluded">This is my transcluded content!</div>
  </ks-carousel>
</section>

<section>
  <h3>X2 - carousel example with full (100%) width</h3>
  <p>Autoplay: <button class="btn btn-primary" (click)="onChangeAutoPlay()">{{autoPlay ? 'disable autoplay' : 'enable autoplay'}}</button></p>
  <p>Show Arrows: <button class="btn btn-primary" (click)="onChangeShowArrows()">{{showArrows ? 'Hide Arrows' : 'Show Arrows'}}</button></p>
  <br>
  <ks-carousel [images]="imagesRect"
               [isShowArrows]="showArrows"
               [pauseOnHover]="true"
               [keyboardNavigation]="true"
               [dotsConfig]="{visible: true}"
               [slideConfig]="{infinite: false}"
               [autoPlay]="autoPlay"
               [maxWidth]="'766px'"
               [interval]="3000">
    <div class="transcluded">This is my transcluded content!</div>
  </ks-carousel>
</section>
