# Created by .ignore support plugin (hsz.mobi)
### Node template
# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Yarn Integrity file
.yarn-integrity

# IntelliJ
.idea

# dotenv environment variables file
.env

# System files
.DS_Store
Thumbs.db

# Compiled files
*.metadata.json
*.ngfactory.ts
*.ngsummary.json
**/dist
**/aot
**/.awcache
**/dll
**/@ks89/

# Docs
docs/

# Tests
**/coverage/

# Examples
examples/angular-cli-13/dist/
examples/angular-cli-material/dist/
examples/universal/dist/
examples/universal/out-tsc/

