/.circleci
/.github
/.scannerwork
/angular-modal-gallery
/coverage
/dist
**/node_modules
/reports

**/*.spec.ts
**/e2e

**/tslint.json

**/webpack.*.js

**/.angular-cli.json
**/.editorconfig
**/.bootstraprc
**/*.map
**/*.ejs
**/*.html
**/*.md
**/*.yml
**/*.scss
**/*.css
**/*.jpg
**/*.jpeg
**/*.png
**/*.ico
**/*.svg

**/.DS_Store
