/.git/
/.idea/

/.circleci/
/appveyor.yml
/travisci/
/.travis.yml

/.github/
/.scannerwork/
/angular-modal-gallery/
/coverage/
/docs/
**/dist/
**/node_modules/
/reports/

/examples/universal/dist/
/examples/webpack/.awcache/
/examples/webpack/aot/
/examples/webpack/coverage/
/examples/angular-cli-material/coverage/
/examples/angular-cli-material/dist/
/examples/angular-cli/dist/

/examples/universal/server.ts

**/*.spec.ts
**/e2e/

**/tslint.json

**/webpack.*.js

**/package.json
**/package-lock.json

**/.angular-cli.json
**/.editorconfig
**/.bootstraprc
**/*.properties
**/*.map
**/*.ejs
**/*.html
**/*.md
**/*.yml
**/*.scss
**/*.css
**/*.jpg
**/*.jpeg
**/*.png
**/*.ico
**/*.svg
**/*.tgz

**/.gitignore
**/.prettierignore
**/.snyk

**/.DS_Store
**/Thumbs.db
