/.circleci
/.github
/.scannerwork
/angular-modal-gallery
/coverage
/dist
**/node_modules
/reports

**/.editorconfig
**/.bootstraprc
**/*.map
**/*.ejs
**/*.html
**/*.md
**/*.yml
**/*.scss
**/*.css
**/*.jpg
**/*.jpeg
**/*.png
**/*.ico
**/*.svg

**/.DS_Store
