<div class="previews-container"
     [attr.aria-label]="accessabilityConfig.previewsContainerAriaLabel"
     title="{{accessabilityConfig.previewsContainerTitle}}">

  <a class="nav-left" [attr.aria-label]="accessabilityConfig.previewScrollPrevAriaLabel" (click)="previous()">
    <div class="inside {{previewConfig.arrows && start > 0 ? 'left-arrow-preview-image' : 'empty-arrow-preview-image'}}"
         aria-hidden="true"
         title="{{accessabilityConfig.previewScrollPrevTitle}}"></div>
  </a>

  <ng-container *ngFor="let preview of previews; trackBy: trackById; let index = index">
    <img *ngIf="preview?.img"
         class="inside preview-image"
         [ngClass]="{'active': isActive(index)}"
         [src]="preview.thumb ? preview.thumb : preview.img"
         [style.width]="previewConfig.size.width+previewConfig.size.unit" [style.height]="previewConfig.size.height+previewConfig.size.unit"
         [attr.aria-label]="preview.ariaLabel"
         title="{{preview.title}}"
         alt="{{preview.alt}}"
         (click)="onClick(preview)"/>
  </ng-container>


  <a class="nav-right" [attr.aria-label]="accessabilityConfig.previewScrollNextAriaLabel" (click)="next()">
    <div class="inside {{previewConfig.arrows && end < images.length ? 'right-arrow-preview-image' : 'empty-arrow-preview-image'}}"
         aria-hidden="true"
         title="{{accessabilityConfig.previewScrollNextTitle}}"></div>
  </a>

</div>
