<nav class="previews-container"
     [attr.aria-label]="accessibilityConfig.previewsContainerAriaLabel"
     [title]="accessibilityConfig.previewsContainerTitle">

  <ng-container *ngIf="!configPreview || configPreview?.visible">
    <a class="nav-left"
       [attr.aria-label]="accessibilityConfig.previewScrollPrevAriaLabel"
       [tabindex]="configPreview.arrows && start > 0 ? 0 : -1" role="button"
       (click)="onNavigationEvent('left', $event)" (keyup)="onNavigationEvent('left', $event)">
      <div class="inside {{configPreview.arrows && start > 0 ? 'left-arrow-preview-image' : 'empty-arrow-preview-image'}}"
           aria-hidden="true"
           [title]="accessibilityConfig.previewScrollPrevTitle"></div>
    </a>

    <ng-container *ngFor="let preview of previews; trackBy: trackById; let index = index">
      <img *ngIf="preview?.img"
           class="inside preview-image"
           [ngClass]="{'active': isActive(index)}"
           [src]="preview.thumb ? preview.thumb : preview.img"
           ksSize [sizeConfig]="{width: configPreview.size.width, height: configPreview.size.height,
         unitWidth: configPreview.size.unit, unitHeight: configPreview.size.unit}"
           [attr.aria-label]="preview.ariaLabel"
           [title]="preview.title"
           alt="{{preview.alt}}"
           [tabindex]="0" role="img"
           (click)="onImageEvent(preview, $event)" (keyup)="onImageEvent(preview, $event)"/>
    </ng-container>


    <a class="nav-right"
       [attr.aria-label]="accessibilityConfig.previewScrollNextAriaLabel"
       [tabindex]="configPreview.arrows && end < images.length ? 0 : -1" role="button"
       (click)="onNavigationEvent('right', $event)" (keyup)="onNavigationEvent('right', $event)">
      <div class="inside {{configPreview.arrows && end < images.length ? 'right-arrow-preview-image' : 'empty-arrow-preview-image'}}"
           aria-hidden="true"
           [title]="accessibilityConfig.previewScrollNextTitle"></div>
    </a>
  </ng-container>

</nav>
