<div class="previews-container" aria-label="Image previews" title="Image previews">
  <a class="nav-left" aria-label="Previous preview">
    <div class="left-arrow-preview-image" aria-hidden="true" title="Previous preview"></div>
    <!--<i class="fa fa-angle-left fa-sm" aria-hidden="true" title="Previous preview"></i>-->
  </a>
  <!-- force preview size to 90x90 and to max 7 images -->
  <img class="preview-image" src="http://via.placeholder.com/90x90" aria-label="Image preview"
       title="Image preview" alt="Alt text for this image preview"/>
  <img class="preview-image" src="http://via.placeholder.com/90x90" aria-label="Image preview"
       title="Image preview" alt="Alt text for this image preview"/>
  <img class="preview-image" src="http://via.placeholder.com/90x90" aria-label="Image preview"
       title="Image preview" alt="Alt text for this image preview"/>
  <img class="preview-image active" src="http://via.placeholder.com/90x90" aria-label="Image preview"
       title="Image preview" alt="Alt text for this image preview"/>
  <img class="preview-image" src="http://via.placeholder.com/90x90" aria-label="Image preview"
       title="Image preview" alt="Alt text for this image preview"/>
  <img class="preview-image" src="http://via.placeholder.com/90x90" aria-label="Image preview"
       title="Image preview" alt="Alt text for this image preview"/>
  <img class="preview-image" src="http://via.placeholder.com/90x90" aria-label="Image preview"
       title="Image preview" alt="Alt text for this image preview"/>
  <a class="nav-right" aria-label="Next preview">
    <div class="right-arrow-preview-image" aria-hidden="true" title="Next preview"></div>
    <!--<i class="fa fa-angle-right fa-sm" aria-hidden="true" title="Next preview"></i>-->
  </a>
</div>
