<ks-gallery [images]="images" [showGallery]="showGallery" (show)="onShowModalGallery($event)"></ks-gallery>

<ks-background [isOpen]="opened"
               [accessabilityConfig]="accessabilityConfig"></ks-background>

<div id="modal-gallery-wrapper" *ngIf="opened"
     click-outside [clickOutsideEnable]="enableCloseOutside"
     (clickOutside)="onClickOutside($event)">

  <div id="flex-min-height-ie-fix">
    <div id="modal-gallery-container">

      <ks-upper-buttons [image]="currentImage"
                        [configButtons]="configButtons"
                        (close)="closeGallery()"></ks-upper-buttons>

      <ks-current-image [images]="images"
                        [currentImage]="currentImage"
                        [isOpen]="opened"
                        [slideConfig]="slideConfig"
                        [descriptionConfig]="description"
                        [keyboardConfig]="keyboardConfig"
                        [downloadable]="downloadable"
                        [loadingConfig]="loadingConfig"
                        [accessabilityConfig]="accessabilityConfig"
                        (loadImage)="onImageLoad($event)"
                        (changeImage)="onChangeCurrentImage($event)"
                        (close)="onCloseGallery($event)"></ks-current-image>

      <ks-dots [images]="images"
               [currentImage]="currentImage"
               [isOpen]="opened"
               [accessabilityConfig]="accessabilityConfig"
               (clickDot)="onClickDot($event)"></ks-dots>

      <ks-previews [images]="images"
                   [currentImage]="currentImage"
                   [isOpen]="opened"
                   [previewConfig]="previewConfig"
                   [accessabilityConfig]="accessabilityConfig"
                   (clickPreview)="onClickPreview($event)"></ks-previews>

    </div>
  </div>
</div>
