/*Taken from https://codepen.io/martinvd/pen/ByOYZX*/

.loader {
  position: absolute;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
  width: 64px;
  height: 64px;
}

.loader div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-sizing: border-box;
  opacity: .8;
}

.one {
  border-top: 1px solid #8FB259;
  animation: rotate-left 1s linear infinite;
}

.two {
  border-right: 1px solid #CCCC52;
  animation: rotate-right 1s linear infinite;
}

.three {
  border-bottom: 1px solid #FFD933;
  animation: rotate-right 1s linear infinite;
}

.four {
  border-left: 1px solid #FF7F00;
  animation: rotate-right 1s linear infinite;
}

@keyframes rotate-left {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes rotate-right {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}