<gallery [images]="images" [showGallery]="showGallery" (show)="onShowModalGallery($event)"></gallery>

<div class="ng-overlay" *ngIf="opened">

  <div id="ng-gallery-content" class="ng-gallery-content"
       click-outside [clickOutsideEnable]="enableCloseOutside"
       (clickOutside)="onClickOutside($event)">

      <div class="uil-ring-css" *ngIf="loading">
        <div></div>
      </div>

      <upperButtons [image]="currentImage" [configButtons]="configButtons"
                    (close)="closeGallery()" (download)="downloadImage()"></upperButtons>

      <a class="nav-left" *ngIf="images?.length > 1"
         [hidden]="isFirstImage"
         (click)="prevImage()"><i class="fa fa-angle-left"></i>
      </a>
      <img *ngIf="!loading" class="effect" src="{{ currentImage.img }}"
           alt="{{getAltDescriptionByImage(currentImage)}}"
           (click)="nextImage(clickAction)"
           (swipeleft)="swipe(currentImageIndex, $event.type)"
           (swiperight)="swipe(currentImageIndex, $event.type)"/>
      <a class="nav-right" *ngIf="images?.length > 1"
         [hidden]="isLastImage"
         (click)="nextImage()"><i class="fa fa-angle-right"></i>
      </a>
      <span class="info-text">{{getDescriptionToDisplay()}}</span>
  </div>
</div>