<main class="main-image-container"
      keyboard-navigation [isOpen]="isOpen" (keyPress)="onKeyPress($event)"
      [attr.aria-label]="accessibilityConfig.mainContainerAriaLabel" [title]="accessibilityConfig.mainContainerTitle">

  <a class="nav-left" *ngIf="images?.length > 1"
     [attr.aria-label]="accessibilityConfig.mainPrevImageAriaLabel"
     [tabindex]="isFirstImage ? -1 : 0" role="button"
     (click)="onNavigationEvent('left', $event)" (keyup)="onNavigationEvent('left', $event)">
    <div class="inside {{isFirstImage ? 'empty-arrow-image' : 'left-arrow-image'}}"
         aria-hidden="true"
         [title]="accessibilityConfig.mainPrevImageTitle"></div>
  </a>

  <ng-container *ngIf="slideConfig?.sidePreviews?.show">
    <ng-container *ngIf="getLeftPreviewImage() as leftPreview">
      <img *ngIf="!isFirstImage; else firstImage"
           class="inside current-image-previous"
           [src]="leftPreview.thumb ? leftPreview.thumb : leftPreview.img"
           [hidden]="loading"
           ksSize [sizeConfig]="{width: slideConfig.sidePreviews.width, height: slideConfig.sidePreviews.height}"
           [attr.aria-label]="leftPreview.ariaLabel"
           [title]="leftPreview.title ? leftPreview.title : getDescriptionToDisplay(leftPreview)"
           alt="{{leftPreview.alt ? leftPreview.alt : getAltDescriptionByImage(leftPreview)}}"
           [tabindex]="0" role="img"
           (click)="onNavigationEvent('left', $event, clickAction)" (keyup)="onNavigationEvent('left', $event, clickAction)"/>
      <ng-template #firstImage>
        <div class="current-image-previous hidden"
             [style.width]="slideConfig.sidePreviews?.width"
             [style.height]="slideConfig.sidePreviews?.height"></div>
      </ng-template>
    </ng-container>
  </ng-container>
  <figure id="current-figure" [hidden]="loading">
    <img id="current-image"
         class="inside"
         [src]="currentImage.img"
         [attr.aria-label]="currentImage.ariaLabel"
         [title]="currentImage.title ? currentImage.title : getDescriptionToDisplay()"
         alt="{{currentImage.alt ? currentImage.alt : getAltDescriptionByImage()}}"
         [tabindex]="0" role="img"
         (load)="onImageLoad($event)"
         (click)="onImageEvent($event, clickAction)" (keyup)="onImageEvent($event, clickAction)"
         (swipeleft)="swipe($event.type)"
         (swiperight)="swipe($event.type)"/>
    <figcaption *ngIf="getDescriptionToDisplay() !== ''" class="inside description">{{getDescriptionToDisplay()}}</figcaption>
  </figure>


  <ng-container *ngIf="slideConfig?.sidePreviews?.show">
    <ng-container *ngIf="getRightPreviewImage() as rightPreview">
      <img *ngIf="!isLastImage; else lastImage"
           class="inside current-image-next"
           [src]="rightPreview.thumb ? rightPreview.thumb : rightPreview.img"
           [hidden]="loading"
           ksSize [sizeConfig]="{width: slideConfig.sidePreviews.width, height: slideConfig.sidePreviews.height}"
           [attr.aria-label]="rightPreview.ariaLabel"
           [title]="rightPreview.title ? rightPreview.title : getDescriptionToDisplay(rightPreview)"
           alt="{{rightPreview.alt ? rightPreview.alt : getAltDescriptionByImage(rightPreview)}}"
           [tabindex]="0" role="img"
           (click)="onNavigationEvent('right', $event, clickAction)" (keyup)="onNavigationEvent('right', $event, clickAction)"/>
      <ng-template #lastImage>
        <div class="current-image-next hidden"
             [style.width]="slideConfig.sidePreviews?.width"
             [style.height]="slideConfig.sidePreviews?.height">
        </div>
      </ng-template>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="loading && configLoading.enable">
    <ks-loading-spinner [loadingConfig]="configLoading"
                        [accessibilityConfig]="accessibilityConfig"></ks-loading-spinner>
  </ng-container>

  <a class="nav-right" *ngIf="images?.length > 1"
     [attr.aria-label]="accessibilityConfig.mainNextImageAriaLabel"
     [tabindex]="isLastImage ? -1 : 0" role="button"
     (click)="onNavigationEvent('right', $event)" (keyup)="onNavigationEvent('right', $event)">
    <div class="inside {{isLastImage ? 'empty-arrow-image' : 'right-arrow-image'}}"
         aria-hidden="true"
         [title]="accessibilityConfig.mainNextImageTitle"></div>
  </a>
</main>
