<div class="main-image-container">
  <a class="nav-left" aria-label="Previous image" *ngIf="images?.length > 1"
     (click)="prevImage()">
    <div class="inside  {{isFirstImage ? 'empty-arrow-image' : 'left-arrow-image'}}" aria-hidden="true" title="Previous image"></div>
  </a>

  <img id="current-image-previous" src="http://via.placeholder.com/100x100"
       aria-label="Click to navigate to the previous image"
       [hidden]="loading"
       title="Previous image preview" alt="Alt text for this image"/>

  <figure id="current-figure" [hidden]="loading">
    <img id="current-image"
         class="inside"
         [src]="currentImage.img"
         (load)="onImageLoad($event)"
         (click)="nextImage(clickAction)"
         (swipeleft)="swipe($event.type)"
         (swiperight)="swipe($event.type)"
         aria-label="Click to navigate to the next image"
         title="Current image" alt="{{getAltDescriptionByImage(currentImage)}}"/>
    <figcaption class="inside description">{{getDescriptionToDisplay()}}</figcaption>
  </figure>

  <img id="current-image-next" src="http://via.placeholder.com/100x100"
       aria-label="Click to navigate to the next image"
       [hidden]="loading"
       title="Next image preview" alt="Alt text for this image"/>


  <ng-container *ngIf="loading && loadingConfig.enable">
    <ks-loading-spinner [loading]="loading"
                        [loadingConfig]="loadingConfig"></ks-loading-spinner>
  </ng-container>

  <a class="nav-right" aria-label="Next image" *ngIf="images?.length > 1"
     (click)="nextImage()">
    <div class="inside  {{isLastImage ? 'empty-arrow-image' : 'right-arrow-image'}}" aria-hidden="true" title="Next image"></div>
  </a>
</div>
