<div *ngIf="showGallery"
     class="plain-container"
     ksWrap [wrap]="wrapStyle" [width]="widthStyle"
     ksDirection [direction]="directionStyle" [justify]="justifyStyle">

  <ng-container *ngFor="let imgRow of imageGrid; let i = index">
    <ng-container *ngFor="let imgCol of imgRow; let j = index">
      <img *ngIf="imgCol && imgCol.img"
           [src]="imgCol.thumb ? imgCol.thumb : imgCol.img"
           class="image"
           ksSize [sizeConfig]="{width: configPlainGallery.size.width, height: configPlainGallery.size.height}"
           alt="{{getAltDescriptionByIndex(j)}}"
           (click)="showModalGallery(j)"/>
    </ng-container>
  </ng-container>

</div>

