<div *ngIf="showGallery"
     class="plain-container"
     ksWrap [wrap]="wrapStyle" [width]="widthStyle"
     ksDirection [direction]="directionStyle" [justify]="justifyStyle">

  <ng-container *ngFor="let imgRow of imageGrid; let i = index">
    <ng-container *ngFor="let imgCol of imgRow; let j = index">

      <ng-container *ngIf="!configPlainGallery.advanced?.aTags; else aTags">
        <img *ngIf="imgCol && imgCol.img"
             [src]="imgCol.thumb ? imgCol.thumb : imgCol.img"
             class="image"
             ksSize [sizeConfig]="{width: configPlainGallery.size.width, height: configPlainGallery.size.height}"
             alt="{{getAltDescriptionByIndex(j)}}"
             (click)="showModalGalleryByImage(imgCol)"/>
      </ng-container>

      <!-- Add directive to set background with the image url as param to pass thumb or img-->
      <!-- to do something like this <a style="background: url('path to image') 50% 50%/cover">.-->
      <ng-template #aTags>
        <a *ngIf="imgCol && imgCol.img"
           href="#"
           class="a-tag-image"
           ksATagBgImage [image]="imgCol" [style]="'50% 50%/cover'"
           ksSize [sizeConfig]="{width: configPlainGallery.size.width, height: configPlainGallery.size.height}"
           (click)="showModalGallery(j)"></a>
      </ng-template>

    </ng-container>
  </ng-container>

</div>

