.more {
  position: absolute;
  margin-top: 2px;
  background: rgba(0, 0, 0, 0.7);
  height: 50px;
  width: 50px;
  padding-left: 0;
  padding-top: 2px;
  text-align: center;
}

.list-img {
  height: 50px;
  margin-top: 2px;
  cursor: pointer;
}

.float-left {
  float: left;
  margin-right: 5px;
  color: #ffffff;
}

.float-left a:hover {
  color: red;
  cursor: pointer;
}

.white {
  color: white;
}
