<div class="ng-gallery" *ngIf="showGallery">
  <div *ngFor="let i of images; let index = index">
    <img *ngIf="i.thumb" src="{{ i.thumb }}" class="ng-thumb" (click)="showModalGallery(index)"
         alt="{{ i.description }}"/>
    <img *ngIf="!i.thumb" src="{{ i.img }}" class="ng-thumb" (click)="showModalGallery(index)"
         alt="{{ i.description }}"/>
  </div>
</div>
<div class="ng-overlay" *ngIf="opened">
  <div class="ng-gallery-content">
    <div class="uil-ring-css" *ngIf="loading">
      <div></div>
    </div>
    <a class="external-url-image" [externalUrlButton]="showExtUrlButton" *ngIf="showExtUrlButton && currentImage.extUrl"
       href="{{currentImage.extUrl}}"><i class="fa fa-external-link"></i></a>
    <a class="download-image" [downloadButton]="showDownloadButton" [extUrlButton]="showExtUrlButton"
       [imgExtUrl]="currentImage.extUrl" *ngIf="showDownloadButton"
       (click)="downloadImage()"><i class="fa fa-download"></i></a>
    <a class="close-popup" (click)="closeGallery()"><i class="fa fa-close"></i></a>
    <a class="nav-left" *ngIf="(images)?.length > 1" (click)="prevImage()"><i class="fa fa-angle-left"></i></a>
    <img *ngIf="!loading" src="{{ currentImage.img }}" (click)="nextImage(clickAction)" class="effect"
         (swipeleft)="swipe(currentImageIndex, $event.type)" (swiperight)="swipe(currentImageIndex, $event.type)"/>
    <a class="nav-right" *ngIf="(images)?.length > 1" (click)="nextImage()"><i class="fa fa-angle-right"></i></a>
    <span class="info-text">{{getDescriptionToDisplay()}}</span>
  </div>
</div>