<nav class="navbar fixed-top navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2" aria-controls="exCollapsingNavbar2" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="exCollapsingNavbar2">
    <div class="navbar-nav">
      <a class="nav-item nav-link {{isNavItemActive('/')}}" [routerLink]="['/']">Main <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link {{isNavItemActive('/lazy')}}" [routerLink]="['/lazy']">Lazy loaded page</a>
    </div>
  </div>
</nav>
<br>
<br>