<div id="loading-spinner" [attr.aria-label]="accessibilityConfig.loadingSpinnerAriaLabel" [title]="accessibilityConfig.loadingSpinnerTitle">
  <ng-container *ngIf="loadingConfig.type === 0">
    <div class="cssload-loader">
      <div class="cssload-inner cssload-one"></div>
      <div class="cssload-inner cssload-two"></div>
      <div class="cssload-inner cssload-three"></div>
    </div>
  </ng-container>
  <ng-container *ngIf="loadingConfig.type === 1">
    <div class="loader">
      <div class="one"></div>
      <div class="two"></div>
      <div class="three"></div>
      <div class="four"></div>
    </div>
  </ng-container>
  <ng-container *ngIf="loadingConfig.type === 2">
    <div class="loader">
      <div class="inner one"></div>
      <div class="inner two"></div>
      <div class="inner three"></div>
      <div class="inner four"></div>
    </div>
  </ng-container>
</div>
