.more {
      position: absolute;
    /* margin: 0px; */
    /* top: 0px; */
    margin-top: 2px;
    /* word-break: break-word; */
    background: rgba(0,0,0,0.7);
    height: 50px;
    width: 50px;
    padding-left: 0px;
    padding-top: 2px;
    padding-top: 2px;
    text-align: center;
}
.list-img {
  margin-top: 2px;
  cursor: pointer;
}
.float-left {
  float: left;
  margin-right:5px;
  color:#ffffff;
}
.float-left a:hover {
  color:red;
  cursor: pointer;
}